body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
    height: 50vh;
    margin: 0;
}

.navbar {
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
}

.nav-btn {
        width: 130px;
        height: 50px;
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color: #fff;
        font-weight: 500;
        margin-left: 40px;
        transition: .5s;
}

.nav-btn:hover {
    background: #fff;
    color: #162938;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 100px auto; /* Center form below the navbar */
    position: relative;
    display: none; /* Hide form by default */
}

.close-btn {
    background: #ff5f5f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    background: #ff3f3f;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus {
    border-color: #6c63ff;
    box-shadow: 0px 0px 8px rgba(108, 99, 255, 0.6);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.submit-btn {
    background-color: #6c63ff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #4e45e6;
}

.link {
    color: #6c63ff;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-footer span {
    margin-right: 5px;
}

#registrationForm {
    display: none;
}
